# Ignore the .env file for security reasons.
.env

# Generated output
output/

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
*.so
*.egg-info/
dist/
build/
*.egg
